visible_hostname squid
{% for port in squid_http_port %}
http_port {{ port }} intercept
{% endfor %}

{% for path in https_whitelist_path %}
acl whitelist_http dstdomain {{ path }}
{% endfor %}

http_access allow all
{% for port1 in squid_https_port %}
https_port {{ port1 }} cert=/etc/squid/ssl/squid.pem ssl-bump intercept
{% endfor %}

{% for port2 in squid3_sslports %}
acl SSL_port port {{ port2 }}
{% endfor %}

http_access allow SSL_port
#http_access allow Safe_ports

{% for path2 in http_whitelist_path %}
acl whitelist_https ssl::server_name "{{ path2 }}"
{% endfor %}

sslproxy_cert_error allow all
logformat squid %{%Y-%m-%d %H:%M:%S}tl,%03tu %ts.%03tu %6tr %>a:%<p %la:%lp %Ss/%03Hs %{header}>h %st %rm %ru %rp %>st %un ORIGINAL_DST/%<A
acl step1 at_step SslBump1
acl step2 at_step SslBump2
acl step3 at_step SslBump3
ssl_bump peek step1 all
ssl_bump peek step2 whitelist_https
ssl_bump splice step3 whitelist_https
{% for localnet in squid3_localnets %}
http_access allow {{ localnet }}
{% endfor %}
http_access deny all
{% for localnet in squid3_localnets %}
http_access allow manager {{ localnet }}
{% endfor %}


