visible_hostname squid
http_port 3129 intercept
acl whitelist_http dstdomain "/etc/squid/http_whitelist.txt"
http_access allow all
https_port 3130 cert=/etc/squid/ssl/squid.pem ssl-bump intercept
acl SSL_port port 443
http_access allow SSL_port
#http_access allow Safe_ports
acl whitelist_https ssl::server_name "/etc/squid/https_whitelist.txt"
sslproxy_cert_error allow all
acl step1 at_step SslBump1
acl step2 at_step SslBump2
acl step3 at_step SslBump3
ssl_bump peek step1 all
ssl_bump peek step2 whitelist_https
ssl_bump splice step3 whitelist_https
http_access allow localhost
http_access deny all
http_access allow manager localhost
logformat squid %{%Y-%m-%d %H:%M:%S}tl,%03tu %ts.%03tu %6tr %>a:%<p %la:%lp %Ss/%03Hs %{header}>h %st %rm %ru %rp %>st %un ORIGINAL_DST/%<A
